body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color:background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }
